numpy
pyrsistent
tree-sitter
tree-sitter-python
tree-sitter-java
tree-sitter-c-sharp
tree-sitter-typescript
tree-sitter-yaml
tree-sitter-dockerfile
tree-sitter-xml
tree-sitter-json
tree-sitter-toml
tree-sitter-hcl
tree-sitter-language-pack